{{ $urlPre := "https://covidtracking.com" }}
{{ $gistJ := getJSON $urlPre "/api/v1/states/daily.json" }}
{{ .Scratch.Set "testsYesterday" 0 }}
{{ .Scratch.Set "casesYesterday" 0 }}
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>New Cases</th>
      <th>New Tests</th>
      <th>Total Cases</th>
      <th>Total Tests</th>
      <th>Total Deaths</th>
    </tr>
  </thead>
  <tbody>
    {{ range where (sort $gistJ ".date") ".state" $.Params.state }}
      {{ $year := substr .date 0 4 }}
      {{ $month := substr .date 4 2 }}
      {{ $day := substr .date 6 2 }}
      {{ $formDate := print $year "-" $month "-" $day}}
      <tr>
        <td>{{ dateFormat "Jan 2" $formDate }}</td>
        <td>
          <!-- New Cases Today -->
          {{ sub .positive ($.Scratch.Get "casesYesterday") }}
        </td>
        <td>
          <!-- Tests Today -->
          {{ sub .totalTestResults ($.Scratch.Get "testsYesterday") }}
        </td>
        <td>{{ .positive }}</td>
        <td>{{ .total }}</td>
        <td>{{ .death }}</td>
      </tr>
      {{ $.Scratch.Set "testsYesterday" .totalTestResults }}
      {{ $.Scratch.Set "casesYesterday" .positive }}
    {{ end }}
  </tbody>
</table>
